@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e1116;
  color: #e7ecf3;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
